
{% macro user_form(form_name = '', user='', current_role ='', user_name='', user_email='', required='required') %}

        <div class="center row">
            <div class="small-8 columns">
            <h4> {{ form_name }} Users</h4>
               <fieldset>
                <form action="" method="POST" >

				  <label>Name <small>required</small><input type="text" name="name" value="{{ user_name }}"  required/>	 </label>
				 <label> Email <small>required</small> <input type="email" name="email" value="{{ user_email }}" required/> </label>
         <label>password <small>required</small><input type="password" name="password" value=""  {{ required }}/>	 </label>
      <div class="row">
         <!-- START STATUS -->
         {% if form_name == 'Update' %}

             <div class="small-6 columns">
             <label>Status</label>
               {% if user.is_enabled %}
                 <input type="radio" name="is_enabled" value="True"  checked/><label>Active</label>
                 <input type="radio" name="is_enabled" value="False"/><label>Suspended</label>
               {% else %}
                <input type="radio" name="is_enabled" value="True"  /><label>Active</label>
                <input type="radio" name="is_enabled" value="False" checked/><label>Suspended</label>

               {% endif %}
                 </div>
         <!-- For a New User-->
         {% else %}

            <div class="small-6 columns">
              <label>Status</label>
                <input type="radio" name="is_enabled" value="True"  checked/><label>Active</label>
                <input type="radio" name="is_enabled" value="False"/><label>Suspended</label>
                  </div>
        {% endif %}

            <!-- End STATUS -- >
         <!--  START ROLE -->
    {% if form_name == 'Update' %}
        {% for role in current_role %}
           {% if role == "None" %}
               <div class="small-6 columns">
                 <label>Role</label>
                   <input type="radio" name="role" value="admin"  />  <label>Admin</label>
                   <input type="radio" name="role" value="None"  checked/>  <label>None</label>

                     </div>
            {% elif role == "admin" %}
                 <div class="small-6 columns">
                  <label>Role</label>
                     <input type="radio" name="role" value="admin"  checked/>  <label>Admin</label>
                     <input type="radio" name="role" value="None"  />  <label>None</label>



                       </div>

                 {% endif %}
              {% endfor %}





          <!-- For a New User-->
    {% else %}

    <div class="small-6 columns">
      <label>Role</label>
        <input type="radio" name="role" value="admin"  />  <label>Admin</label>
        <input type="radio" name="role" value="None"  checked/>  <label>None</label>

          </div>

    {% endif %}

    <!--  END ROLE -->

  </div>

				   <button class="button "  type="submit">{{ form_name }}</button>
                  </form>
                </fieldset>


				</div>
			  </div>


{% endmacro %}
