
{% macro user_form(form_name = '', user_name='', user_email='', required='required') %}

        <div class="center row">
            <div class="large-8 columns">
            <h4> {{ form_name }} Users</h4>
               <fieldset>
                <form action="" method="POST" >

				  <label>Name <small>required</small><input type="text" name="name" value="{{ user_name }}"  required/>	 </label>
				 <label> Email <small>required</small> <input type="email" name="email" value="{{ user_email }}" required/> </label>
         <label>password <small>required</small><input type="password" name="password" value=""  {{ required }}/>	 </label>
      <div class="row">
         <!-- START STATUS -->
         {% if form_name == Update %}

                    <div class="small-4 columns">
                    <label>Status
                       <select name="is_enabled" multiple>
                                    {% if users.is_enabled %}
                                        <option value="True" selected>Active</option>
                                        <option value="False" >Suspended</option>
                                     {% else %}
                                     <option value="True" >Active</option>
                                     <option value="False" selected>Suspended</option>

                                    {% endif %}
                         </select> </label>
                        </div>

            <!-- For a New User-->
            {% else %}

                  <div class="small-4 columns">
                  <label>Status
                     <select name="is_enabled" multiple>


                <option value="True" selected>Active</option>
                <option value="False" >Suspended</option>
              </select> </label>
             </div>

            {% endif %}

            <!-- End STATUS -- >
         <!--  START ROLE -->
    {% if form_name == Update %}
      <div class="small-4 columns">
        <label>Role</label>
          {% for role in current_role %}
              {{ role.name }}
             {% if role.name == "admin" %}
                    <input type="radio" name="role" value="admin" checked><label>Admin</label>
             {% else %}
                   <input type="radio" name="role" value="admin" ><label>Admin</label>

             {% endif %}
         {% endfor %}
          </div>
          <!-- For a New User-->
    {% else %}
    <div class="small-4 columns">
      <label>Role</label>
        <input type="radio" name="role" value="admin" ><label>Admin</label>
      </div>

    {% endif %}

    <!--  END ROLE -->

  </div>

				   <button class="button "  type="submit">{{ form_name }}</button>
                  </form>
                </fieldset>


				</div>
			  </div>


{% endmacro %}
